@viewport {
    width: device-width;
}

body {
    background-image: url("IMG_0490.JPG");
    background-repeat: repeat-y;
    background-size: 100%;
    font-family: 'Asap', cursive;
    color: #515251;
}

div {
    line-height: 2;
}

label {
    margin-bottom: 0;
}

h3 {
    color: #00bf4b;
    text-align: center;
}

h5 {
    text-align: left;
    margin: 25px 0;
}

.main {
    background-color: #ffffff;
    box-shadow: 0px 2px 10px 5px #ebebeb;
    border-radius: 5px;
    padding: 3% 3%;

}
.center {
    margin: 5% auto;
    width: 475px;
    padding: 56px;

}

.center p{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.btn {
    margin: 20px 0px;
    padding: 6px 30px;
}

#emailHelp {
    margin-top: 0;
    margin-bottom: .50em;
    float: left;
}

.form-control:focus {
    border-color: #38ff86; 
    box-shadow: 0 0 0 0.2rem rgba(0,191,75,.25); 
}

@media screen and (max-width: 900px) {
    body {
        background-image: none;
        width: 80%;
        overflow-x: hidden;
    }

    h5 {
        text-align: left;
        margin: 25px 0;
    }

    .main {
        background-color: #ffffff;
        box-shadow: none;
        border-radius: 0;
        padding: 0;
        width: 80%;

    }
    .center {
        margin: 0 auto;
        padding: 0;

    }

    h3 {
        color: #00bf4b;
        text-align: center;
        margin-top: 15px;
    }

}